<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
 
 <!--Telling spring that there is a property file in the classpath  -->
 <context:property-placeholder location="classpath:application.properties"/>
 
 <!--Creating a bean for the class that implements the operating system interface  -->
 <!--Below did a constructor injection also  -->
 <bean id="operatingsystem" class="com.spring.OperatingSystemImplements">
 <constructor-arg ref="osversion"></constructor-arg>
 </bean>
 
 <bean id="osversion" class="com.spring.OsVersionImplements" />
 
 <bean id="language" class="com.spring.LanguageImplements">
 
 <!--Setter injection since we inject the fortune using property  -->
 <property name="fortuneService" ref="fortune"></property>
 <!--ref keyword is used to refer the bean. The bean id and ref should be same  -->
 
 <!--Reading values from property file  -->
 <property name="name" value="${user.name}" />
 <property name="age" value="${user.age}" />
 
 </bean>
 
 <bean id="fortune" class="com.spring.FortuneServiceImplements" />
 
</beans>